
# site
SITE_ROOT=http://localhost:3030

# cookie
DOMAIN=.localhost
COOKIE_NAME=x-callgent-jwt

# docs
DOCUMENTATION_URL=http://localhost:4000
BLOG_URL=${DOCUMENTATION_URL}/blog
GETTING_STARTED_PATH=${DOCUMENTATION_URL}/docs/intro
DEVELOPERS_PATH=${DOCUMENTATION_URL}/docs/developers/guide

# server address
API_URL=http://localhost:3000