
SITE_ROOT=http://localhost:3030
# cookie
DOMAIN=.localhost
COOKIE_NAME=x-callgent-jwt

# docs地址
DOCUMENTATION_URL=http://localhost:4000
# Documentation blog address
BLOG_URL=${DOCUMENTATION_URL}/blog
# Documentation introduction
GETTING_STARTED_PATH=${DOCUMENTATION_URL}/docs/intro
DEVELOPERS_PATH=${DOCUMENTATION_URL}/docs/developers/guide

# Proxy server address
# API_URL=https://api.callgent.com
API_URL=http://190.92.236.63:3000
# auth API prefix
API_LOGIN_PRE=${API_URL}/api/auth
# registration API
API_REGISTER=${API_LOGIN_PRE}/register
# login API
API_LOGIN=${API_LOGIN_PRE}/login


REACT_APP_API_URL=https://api.example.com
REACT_APP_OTHER_VARIABLE=value